* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Gentium Basic', serif;
    font-family: 'Raleway', sans-serif;
    background: #FFFFFF;
}

.container {
    width: 1050px;
  margin: 0 auto;
}

.spanColor {
    color: #28c9aa;
    font-weight: bold;
}

header {
    width: 100%;
    background: #000;
    height: 40px;
    padding-left: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
}

header nav h1 {
    color: #FFF;
    font-size: 14px;
    line-height: 40px;
    float:left;
}

nav h1 span {
    padding: 0 5px;
}

header ul li {
    color: #FFF;
    display: inline-block;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    float:right;
    padding: 0 5px;
    line-height: 40px;
}
/*slider*/

#slider {
    height: 400px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,202,212,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(205,202,212,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,202,212,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,202,212,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,202,212,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,202,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdcad4', GradientType=0 );
}
section.sliderContainer {
    display: flex;
    justify-content: space-between;
}
.blackChair {
    width:400px;
    margin-top: 40px;
    float:left;
    margin-left: 200px;
}

.sliderText {
    width: 50%;
    text-align: center;
    float:right;
    margin-top: 100px;
}
.sliderText h2, p, button {
    width: 300px;
}

.sliderText h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.sliderText h2 span {
    padding: 0 10px;
}

.sliderButton {
    background: #28c9aa;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: -500px;
}

.sliderButton a {
    color: white;
    text-decoration: none;

}

.sliderLeft, .sliderRight {
    color: #28c9aa;
    font-size: 80px;
    position: absolute;
    cursor: pointer;
}

.sliderRight {
    top: 150px;
    right: 150px;
}

.sliderLeft {
    top: 150px;
    left: 150px;
}
/*offers*/

.offers {
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

.offer1 {
    background-image: url("../images/box1_img.jpg");
    background-size: cover;
}

.offer2 {
    background-image: url("../images/box2_img.jpg");
    background-size: cover;
}

.offer1, .offer2, .offer3 {
    float: left;
    width: 300px;
    height: 250px;
    margin-top: 25px;
    position: relative;
}

.offer3 {
    border: 1px solid #dbdbdb;
    padding: 20px;
    color: gray;
}

.offer2 {
    margin-right: 25px;
    margin-left: 25px;
}

.offerBackground {
    background: rgba(255, 255, 255, 0.3);
    height: 50px;
    position: absolute;
    top: 150px;
    width: 100%;
    padding: 10px;
}

.offerTitle {
    border-bottom: 5px solid #28c9aa;
    width: 150px;
    font-weight: bold;
}

.offer3 .offerTitle {
    color: black;
    font-weight: bold;
}

/*pricing*/
.priceList {
    background: #f1f1f1;
    width: 100%;
    height: 750px;
    padding-top: 50px;
    padding-left: 280px;
    box-sizing: border-box;
}

.pricePlan {
    width: 350px;
    height: 500px;
    border: 3px solid #d6d5d5;
    text-align: center;
    position: relative;
    margin-top: 80px;
    float: left;
    background: #f9f9f9;
}

.pricePlan:nth-of-type(2) {
    margin: 80px 20px 0 20px;
    border: 3px solid #24BAA0;
    background: #24BAA0;
}

.pricePlanPrice {
    width: 100px;
    height: 100px;
    border: 1px solid #d6d5d5;
    border-radius: 80px;
    background: white;
    padding: 20px;
    position: absolute;
    top: 80px;
    left: calc(50% - 80px);
}

.pricePlanPrice p {
    margin-left: -95px;
}

.pricePlan:nth-of-type(2) .pricePlanPrice {
    border: 1px solid #24BAA0;
}

.pricePlanPrice p:nth-of-type(1) {
    font-size: 45px;
    font-weight: bold;
    color: #d6d5d5;
    position: relative;
    top: 5px;
}

.pricePlan:nth-of-type(2) p:nth-of-type(1) {
    color: #24BAA0;
}

.pricePlanPrice p:nth-of-type(1) sup {
    font-size: 16px;
    position: relative;
    top: -15px;
}

.pricePlan:nth-of-type(2) p:nth-of-type(1) sup {
    color: #24BAA0;
}

.pricePlanPrice p:nth-of-type(2) {
    font-size: 16px;
    font-weight: bold;
    color: #d6d5d5;
    position: relative;
    top: 10px;
}

.pricePlan:nth-of-type(2) p:nth-of-type(2) {
    color: #24BAA0;
}

.pricePlanItem1, .pricePlanItem3 {
    width: 100%;
    background-color: #e4e4e4;
    color: #939393;
    font-size: 24px;
    text-align: center;
    position: absolute;
    height: 42px;
    line-height: 42px;
}

.pricePlanItem2, .pricePlanItem4 {
    width: 100%;
    background-color: #f1f1f1;
    color: #939393;
    font-size: 24px;
    text-align: center;
    position: absolute;
    height: 42px;
    line-height: 42px;
}

.pricePlanItem1 {
    top: 262px;
}

.pricePlan:nth-of-type(2) .pricePlanItem1, .pricePlan:nth-of-type(2) .pricePlanItem3 {
    background-color: white;
}

.pricePlanItem2 {
    top: 304px;
}

.pricePlanItem3 {
    top: 346px;
}

.pricePlanItem4 {
    top: 388px;
}

.priceButton {
    background-color: #24BAA0;
    width: 120px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    line-height: 35px;
    position: absolute;
    bottom: 18px;
    left: calc(50% - 60px);
    font-size: 16px;
    cursor: pointer;
}

.pricePlan:nth-of-type(2) .priceButton {
    background-color: white;
}

.priceButton a {
    color: white;
    text-decoration: none;
}

.pricePlan:nth-of-type(2) .priceButton a {
    color: #24BAA0;
}

.pricePlan h2 {
    color: #24BAA0;
    font-size: 23px;
    margin-top: 35px;
    text-align: center;
    font-weight: bold;
}

.pricePlan:nth-of-type(2) h2 {
    color: white;
}

.circle {
    border: 3px solid #d6d5d5;
    width: 55px;
    height: 55px;
    border-radius: 40px;
    top: -40px;
    left: calc(50% - 30px);
    position: absolute;
    background-color: white;
}

.pricePlan:nth-of-type(2) .circle {
    border: 3px solid #24BAA0;
    background-color: #24BAA0;
}

.circle::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 40px;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    position: absolute;
    background-color: #d6d5d5;
}

.pricePlan:nth-of-type(2) .circle::before {
    background-color: #f1f1f1;
}

.priceListTitle, .contactTitle, .choiceTitle, .summaryTitle {
    border-bottom: 7px solid #24BAA0;
    width: 340px;
    font-size: 22px;
}

/*contact*/

.contact {
    width: 100%;
    height: 550px;
}

.contactTitle {
    margin-top: 35px;
    margin-bottom: 50px;
}

.contactForm {
    display: block;
    float: left;
    width: 650px;
}
.contactForm input {
    font-family: 'ralewayregular';
}

.contactForm textarea {
    font-family: 'ralewayregular';
}

.contactForm2 {
    width: 350px;
    display: block;
    float:right;
    font-size:20px;
}

.contactForm2 input {
    position: absolute;
    cursor: pointer;
    display:block;
    width: 50px;
    height: 50px;
    float:left;
    margin-left: -60px;
}

.contactForm textarea {
    resize: none;
    height: 150px;
}

.contactForm input, .contactForm textarea {
    width: 450px;
    border: 1px solid #8de0d2;
    font-size: 25px;
    line-height: 35px;
}

.contactButton {
    background-color: #24BAA0;
    height: 70px;
    width: 320px;
    text-align: center;
    border-radius: 10px;
    line-height: 70px;
    float: right;
    font-size: 30px;
    cursor: pointer;
    margin-right: 80px;
    margin-top: 30px;

}

.contactButton a {
    text-decoration: none;
    color: #FFFFFF;
}

/*footer*/

.footer {
    margin-bottom: 100px;
}

.footer p:first-of-type {
    float:left;
}

.footer p:last-of-type {
    float:right;
    font-size:20px;
}

.footer p:last-of-type a {
    text-decoration: none;
    color: #939393;
}

footer p:last-of-type span {
    font-weight: 900;
}

.socialMedia {
    display: inline-block;
    float: right;
    font-size: 30px;
    margin-right: 60px;
    margin-top: -15px;
}

.socialMedia li {
    display: inline-block;
}