* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Gentium Basic', serif;
    font-family: 'Raleway', sans-serif;
    background: #FFFFFF;
}

/*Header*/

header {
    width: 100%;
    background: black;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: white;
    font-size: 20px;
}

.header-logo a {
    text-decoration: none;
    color: white;
    padding: 14px 0;
    display: block;
}

.header-logo a span {
    color: #27c7ab;
    font-weight: 900;
}

.navigation-list {
    list-style: none;
    margin: 5px 0;
    display: flex;
}

.navigation-list_item {
    display: inline-block;
    margin-left: 50px;
    position: relative;
}


.navigation-list_link {
    font-weight: 700;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 14px 0;
    display: block;
    box-sizing: border-box;
}

.navigation-list_dropmenu {
    width: 100px;
    height: 20px;
    background: transparent;
    left: 50%;
    margin-left: -55px;
    position: absolute;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    margin-top: 7px;
    position: absolute;
    left: 40%;
    opacity: 0.01;
    visibility: hidden;
    transition: 0.5s all;
}

.navigation-list_drop {
    width: 100px;
    list-style: none;
    text-decoration: none;
    font-weight: 100;
    margin-top: 10px;
    background: black;
    box-sizing: border-box;
    left: 25px;
    position: absolute;
    margin-left: -75px;
    opacity: 0.1;
    visibility: hidden;
    transition: 0.5s all;
}

.navigation-list_drop a {
    text-decoration: none;
    color: white;
    padding: 5px 5px;
    display: block;
    transition: 0.5s all;
}


.navigation-list_item:hover .navigation-list_drop {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
}

.navigation-list_item:hover .arrow {
    max-height: 10px;
    opacity: 1;
    visibility: visible;
}

.navigation-list_drop a:hover {
    background: #27c7ab;
}

.navigation-list_item:hover .navigation-list_link {
    color: #27c7ab;
}

/*Gallery*/

.gallery-background {
    width: 100%;
    height: 500px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,202,212,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(205,202,212,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,202,212,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,202,212,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,202,212,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,202,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdcad4', GradientType=0 );
}

.gallery {
    position: relative;
}

.navigation-button a {
    font-weight: lighter;
    font-size: 85px;
    color: #27c7ab;
    text-decoration: none;
    top: 220px;
    z-index: 999;
    position: absolute;
}

.left a {
    left: 5px;
}

.right a {
    right: 5px;
}

img#picture1 {
    height: 55%;
    width: 55%;
    float: left;
    margin-top: 65px;
    left: -30px;
    position: relative;
}

img#picture2 {
    height: 45%;
    width: 45%;
    float: left;
    margin-top: 65px;
    left: 20px;
    top: 40px;
    position: relative;
}

img#picture3 {
    height: 35%;
    width: 35%;
    float: left;
    margin-top: 65px;
    left: 100px;
    top: 40px;
    position: relative;
}

.gallery_text {
    float: right;
    text-align: center;
    width: 385px;
    margin-top: 140px;
    margin-right: 90px;
    left: -60px;
    position: relative;
}

.gallery_text h3 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}

.gallery_text h3 span {
    color: #27c7ab;
    font-weight: 900;
}

.gallery_text p {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 35px;
}

.gallery_button {
    display: block;
    width: 260px;
    padding: 12px 15px;
    background: #27c7ab;
    margin: 5px auto;
    font-size: 24px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transition: 0.5s all;
}

.slider {
    list-style: none;
}

.slider li{
    display: none;
}

.slider .visible {
    display: block;
}

.gallery_text a:hover {
    box-shadow: 1px 3px 10px darkgray;
    font-weight: 700;
}

.navigation-button.left:hover {
    position:absolute;
    left: -5px;
}

.navigation-button.right:hover {
    position: absolute;
    right: -5px;
}


/*Products*/

.products {
    height: 350px;
    color: black;
    position: relative;
    display: flex;
}

.product1 {
    background-image: url("../images/box1_img.jpg");
    background-size: cover;
}

.product2 {
    background-image: url("../images/box2_img.jpg");
    background-size: cover;
    margin: 36px 36px;

}

.product1, .product2, .product3 {
    float: left;
    width: 335px;
    height: 225px;
    margin-top: 26px;
    border: 1px solid lightgray;
    position: relative;
}

.product3 {
    height: auto;
    padding: 20px;
    color: gray;
}

.product-background {
    width: 100%;
    height: 60px;
    background: rgba(256, 256, 256, 0.3);
    position: absolute;
    top: 150px;
    padding: 12px;
    transition: 0.4s all;
}

.product-title {
    width: 137px;
    font-weight: 700;
    border-bottom: 4px solid #24BAA0;
}

.product3 .product-title {
    color: black;
    font-weight: bold;
}

.product1:hover .product-background,
.product2:hover .product-background {
    opacity: 0;
}

.product1:hover,
.product2:hover {
    position: relative;
    bottom: 5px;
}

/*Pricing*/

.pricing {
    width: 100%;
    height: 725px;
    background: #f1f1f1;
    padding-top: 45px;
}

.pricing-title {
    border-bottom: 7px solid #24BAA0;
    width: 340px;
    font-size: 22px;
}

.pricing-plan {
    width: 333px;
    height: 500px;
    border: 3px solid rgb(214,213,213);
    text-align: center;
    margin-top: 80px;
    float: left;
    background: rgb(249, 249, 249);
    position: relative;
}

.pricing-plan:nth-of-type(2) {
    margin: 80px 38px 0 38px;
}

.circle {
    width: 55px;
    height: 55px;
    border: 3px solid rgb(214,213,213);
    border-radius: 40px;
    top: -40px;
    left: calc(50% - 30px);
    background-color: white;
    position: absolute;
}

.circle::before {
    content: "";
    width: 27px;
    height: 27px;
    border-radius: 40px;
    top: calc(50% - 13px);
    left: calc(50% - 13px);
    background-color: rgb(214,213,213);
    position: absolute;

}

.pricing-plan h2 {
    color: #27c7ab;
    font-size: 24px;
    font-weight: 700;
    margin-top: 27px;
    text-align: center;
}

.pricing_price {
    width: 127px;
    height: 127px;
    border: 1px solid rgb(214,213,213);
    border-radius: 70px;
    background: white;
    padding: 21px;
    top: 80px;
    left: calc(50% - 64px);
    position: absolute;
}

.pricing_price p:first-of-type {
    font-size: 45px;
    font-weight: 700;
    color: rgb(214,213,213);
    top: 5px;
    position: relative;
}

.pricing_price p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 700;
    color: rgb(214,213,213);
    top: 10px;
    position: relative;
}

.pricing_price p:first-of-type sup {
    font-size: 16px;
    top: -27px;
    position: relative;
}

.pricing_item1, .pricing_item3 {
    width: 100%;
    background-color: #e4e4e4;
    color: #939393;
    font-size: 24px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    position: absolute;
}

.pricing_item2, .pricing_item4 {
    width: 100%;
    background-color: #f1f1f1;
    color: #939393;
    font-size: 24px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    position: absolute;
}

.pricing_item1 {
    top: 244px;
}

.pricing_item2 {
    top: 286px;
}

.pricing_item3 {
    top: 328px;
}

.pricing_item4 {
    top: 370px;
}

.pricing_button {
    background-color: #27c7ab;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    bottom: 18px;
    left: calc(50% - 100px);
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    transition: 0.3s all;
}

.pricing_button a {
    color: white;
    text-decoration: none;
    transition: 0.3s all;
}

#special.pricing-plan {
    border: 3px solid #27c7ab;
    background: #27c7ab;
}
#special.pricing-plan .circle {
    border: 3px solid #27c7ab;
    background-color: #27c7ab;
}
#special.pricing-plan .circle::before {
    background-color: #f1f1f1;
}
#special.pricing-plan h2 {
    color: white;
}

#special.pricing-plan .pricing_price {
    border: 1px solid #27c7ab;
}

#special.pricing-plan p:first-of-type {
    color: #27c7ab;
}

#special.pricing-plan p:first-of-type sup {
    color: #27c7ab;
}

#special.pricing-plan p:nth-of-type(2) {
    color: #27c7ab;
}

#special.pricing-plan .pricing_item1,
#special.pricing-plan .pricing_item3 {
    background-color: white;
}

#special.pricing-plan .pricing_button {
    background-color: white;
}

#special.pricing-plan .pricing_button a {
    color: #27c7ab;
}

.pricing_button:hover {
    box-shadow: 2px 3px 6px grey;
}

.pricing_button:hover a {
    font-weight: 900;
}

/*Contact*/

.contact {
    width: 100%;
    height: 555px;
    padding-left: 13px;
}

.contact-title {
    width: 340px;
    font-size: 22px;
    margin-top: 35px;
    margin-bottom: 50px;
    border-bottom: 7px solid #24BAA0;
}

.contact_form-left {
    float: left;
    width: 635px;
}

.contact_form-left textarea {
    height: 190px;
    padding-top: 10px;
}

.contact_form-left input,
.contact_form-left textarea {
    width: 635px;
    border: 1px solid #8de0d2;
    font-size: 26px;
    padding-left: 20px;
}

.contact_form-left input {
    height: 65px;
}

.contact_form-right {
    width: 340px;
    float: right;
    font-size: 20px;
    margin-right: 20px;
}

.contact_form-right input {
    opacity: 0;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 12px;
    position: absolute;
    cursor: pointer;
}

.contact_form-right label {
    padding-left: 65px;
    position: relative;
    font-size: 18px;
    margin: 1px 0 10px 0;
    display: block;
}

.contact_form-right label::before,
.contact_form-right label::after {
    height: 49px;
    width: 49px;
    top: 0;
    left: 0;
    border: 1px solid #8de0d2;
    content: "";
    display: block;
    position: absolute;
}

.contact img {
    float: right;
    top: -15px;
    right: 90px;
    position: relative;
}

.contact_button {
    width: 344px;
    height: 70px;
    font-size: 34px;
    font-weight: 700;
    background-color: #27c7ab;
    text-align: center;
    border-radius: 10px;
    line-height: 70px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.4s all;
}

.contact_button a {
    text-decoration: none;
    color: white;
}


.contact_form-right:hover label::before {
    background: url("../images/form_ok.jpg") no-repeat center;
    opacity: 0.5;
}

.contact_button:hover {
    box-shadow: 2px 3px 6px gray;
}

/*footer*/

footer {
    margin-bottom: 100px;
}

.footer p:first-of-type {
    float: left;
}

.footer p:last-of-type {
    float: right;
    font-size: 20px;
}

.footer p:last-of-type a {
    color: rgb(147, 147, 147);
    text-decoration: none;
}

footer p:last-of-type span {
    font-weight: 800;
}

.social-media {
    display: inline-block;
    float: right;
    font-size: 30px;
    margin-right: 60px;
    margin-top: -10px;
}

.social-media li {
    display: inline-block;
}
